<!doctype html>
<html ng-app="btdt">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
		<script src="js/btdt-web.js"></script>
		<script src="js/userController.js"></script>
		<script src="js/locationController.js"></script>
<body>

<a href="#/users">Users</a>
<a href="#/locations">Locations</a>
<div ng-view>

</div>
<!-- <div class="locationsDiv entityWrapper" ng-controller="locationCtrl">
	<h1 class="entityTitle">Locations</h1>
	<ul class="locationDiv">
		<li ng-repeat="location in locations" class="locationLi">
			<span> {{location.name}}</span>
			<span> {{location.description}} </span>
			<span> {{locatoin.code}} </span>
			<span class="UpdateLink"><a href="/location/update/{{location.id}}">edit</a></span>
			<button ng-click="delete(location)">Delete</button>
		</li>
	</ul>
	<p>Add New</p>
</div> -->
</body>

</html>